<div class="row">
    <div class="col">
        <h1 class="page-title">Month, Year</h1>
    </div>
</div>

<div class="row">
    {{#each days}}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card day">
                <div class="card-header text-muted">
                    <span class="badge badge-rating">{{this.date}}</span>
                </div>
                <div class="card-body">
                    <p class="card-text">{{this.gratitude1}}</p>
                    <p class="card-text">{{this.gratitude2}}</p>
                    <p class="card-text">{{this.gratitude3}}</p>

                    <a class="card-link" href="/date/{{this._id}}">Read More</a>
                </div>
            </div>
        </div>
    {{/each}}
</div>
